
/*This is my Element*/
body {
    background-color: red;

}
/*This is my class*/
.center-text {
    text-indent: 400px
}
/*This is my ID*/
#large-paragraph {
    font-style: oblique;
}



